@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <link rel="stylesheet" href="stylesheet.css">
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<partial name="/Views/Fragments/dateselector.cshtml" />
<partial name="/Views/Fragments/graphselector.cshtml" />
<table>
    <thead>
        @if(TempData["month"] != null)
        {
            <th>Type</th>
            <th>Loss report for @TempData["month"]</th>
        }
    </thead>
    <tbody>
        @*@foreach (var summaryObj in Model)
        {
            <tr>
                <td>@summaryObj.type</td>
                <td>@summaryObj.ToString()</td>

            </tr>
        }*@
    </tbody>
</table>
<h2>Loss report for @TempData["month"]</h2>
<div id="summaryTable"></div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: '/Summary/summary_json',
            type: 'get',
            data: {
                start: '@TempData["start"]'
                end: '@TempData["end"]'
            },
            dataType: 'json',
            success: function (data) {
                var table = $('<table></table>');
                table.append($('<thead><th>Type</th><th></th></thead>'));
                
                for (var i = 0; i < data.length; i++) {
                    var current = data[i];
                    var currentTotal = 0;
                    var summarystr = [];
                    if (current.nDestroyed > 0) {
                        currentTotal += current.nDestroyed;
                        summarystr.push(current.nDestroyed + ' destroyed');
                    }
                    if (current.nDamaged > 0) {
                        currentTotal += current.nDamaged;
                        summarystr.push(current.nDamaged + ' damaged');
                    }
                    if (current.nCaptured > 0) {
                        currentTotal += current.nCaptured;
                        summarystr.push(current.nCaptured + ' captured');
                    }
                    if (current.nAbandoned > 0) { 
                        currentTotal += current.nAbandoned;
                        summarystr.push(current.nAbandoned + ' abandoned');
                    }
                    summarystr.unshift(currentTotal + current.model);
                    var row = $('<tr><td>' + current.model + '</td><td>' + summarystr.join(', ') +'</tr>');
                    table.append(row);
                }
                $('#summaryTable').html(table);

            }
        });
    });
</script>